@use "mixins" as *;
@include tablet;
@include mobile;

.info-detail {
  @include flex($align: center, $justify: center, $direction: column);
  padding-top: 8rem;

  width: 90vw; // 모바일에서는 더 넓게
  max-width: 800px; // 너무 넓어지는 것을 방지
  margin: 0 auto; // 중앙 정렬 유지
  text-align: center; // 내부 텍스트 중앙 정렬

  .big-image {
    width: 100%;
    max-width: 600px; // 이미지 최대 크기 설정
    height: auto;
    border-radius: 10px; // 둥근 모서리
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); // 그림자 효과
  }

  .detail-text {
    @include flex($justify: center, $align: center, $direction: column);
    .address {
      @include font-style(
        $size: 1.25rem,
        $color: gray,
        $m-b: 10px,
        $weight: 300
      );
    }
    h1 {
      font-size: 2.8rem;
      margin: 25px 0;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 20px;
    }

    hr {
      width: 50%;
      margin: 20px auto;
      border: 1px solid #ddd;
    }

    .info-content {
      @include font-style($size: 1.3rem, $line-height: 1.4);
    }
  }
}
