@use "mixins" as *;

.dropdown-container {
  position: fixed;
  z-index: 101;
}

.hamburger-menu {
  position: fixed;
  font-size: 2.5rem;
  margin: 50px;
  color: #ffffff;
  text-shadow: 0 0 10px rgb(255, 119, 0);
  z-index: 100;
  cursor: pointer;
  line-height: 0.6;
  letter-spacing: -0.2rem;
  transform: scaleY(0.8);
}

.dropdown-menu {
  position: absolute;
  @include flex($justify: end);
  width: 250px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  // border-radius: 0 0 15px 15px;
  padding: 5px 20px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  .menu-items {
    @include flex($direction: column, $gap: 10px);
    // display: flex;
    // flex-direction: column;
    // gap: 40px;
    width: 80px;
    text-align: right;
    margin: 50px 0 0 50px;
    padding-right: 30px;
    text-decoration: none;

    .login {
      margin-bottom: 50px;
      @include menufont;

      &:hover {
        color: #fff;
      }
    }
  }
  .profile-pic {
    width: 50px;
    height: 50px;
    margin: 50px 0 0 0;
    border-radius: 50%;
  }
}

.menu-item {
  @include menufont;
  text-decoration: none;

  &:visited {
    color: #023047;
  }

  &:hover {
    color: #fc8500;
  }
}

.menu-divider {
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.dropdown-container:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}
