.carouselContainer {
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overscroll-behavior: contain;
  touch-action: none; // 터치 동작 비활성화
  -ms-touch-action: none;

  /* 스크롤 방지를 위한 추가 속성들 */
  overflow: hidden;
  position: relative;
  isolation: isolate;
}

.swiper {
  width: 80%;
  padding-top: 30px;
  padding-bottom: 30px;

  :global {
    .swiper-button-next,
    .swiper-button-prev {
      color: #000;
      &:hover {
        color: #666;
      }
    }
  }
}

.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 450px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .swiperSlide {
    width: 300px;
    height: 300px;
  }
}
