@use "mixins" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f3f3f3;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.section {
  @include flex($justify: center, $align: center);
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  transition: transform 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.scroll-arrow {
  position: absolute;
  bottom: 2.5rem;
  animation: bounce 2s infinite;

  img {
    width: 50px;
    opacity: 0.5;
  }
}

.mainSlider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .mainImageSection {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);

      &:nth-child(4) .mainImage {
        object-position: center 0;
      }

      &:last-child .mainImage {
        object-position: center 0;
      }
    }
  }
}

.mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.memorySection {
  max-width: 130rem;
  width: 90%;
  height: 60rem;
  padding: 2.5rem;
  background: white;
  border-radius: 1.875rem;
  box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2);
  overflow: hidden;

  h2 {
    font-size: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
  }

  hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
}

.sliderButton {
  @include flex($justify: center, $align: center);
  position: absolute;
  background: none;
  width: 50px;
  height: 50px;

  border: none;
  cursor: pointer;
  z-index: 3;
  -webkit-text-stroke: 2px rgba(252, 133, 0, 0.4);
  transition: all 0.3s ease;

  img {
    width: 60px;
    filter: drop-shadow(0px 0px 6px #000000);
  }

  &:hover {
    color: #fc8500;
    -webkit-text-stroke: 2px #fc8500;
    text-shadow: 0 0 1px #fc8500;
  }
  &.prev {
    left: 10%;
    transform: rotate(90deg);
  }

  &.next {
    right: 10%;
    transform: rotate(-90deg);
  }
}

.memoryImages {
  @include flex($justify: center, $align: center);
  position: relative;
  width: 60%;
  height: 100%;

  img {
    position: absolute;
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.5s ease;
    opacity: 0;
    transform: scale(0.8) translateX(-100%);

    &.active {
      opacity: 1;
      transform: scale(1) translateX(0);
      z-index: 2;
    }

    &.prev {
      opacity: 0.6;
      transform: scale(0.8) translateX(-100%);
      z-index: 1;
    }

    &.next {
      opacity: 0.6;
      transform: scale(0.8) translateX(100%);
      z-index: 1;
    }
    button {
      @include flex($display: colum, $justify: center, $align: center);
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) translateX(-50%);
  }
  40% {
    transform: translateY(-0.625rem) translateX(-50%);
  }
  60% {
    transform: translateY(-0.3125rem) translateX(-50%);
  }
}

.memorySlider {
  @include flex($justify: center, $align: center);
  position: relative;
  height: 750px;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin-top: 70px;
}
