@mixin flex(
  $display: flex,
  $direction: row,
  $align: stretch,
  $justify: start,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin diary-topbox {
  width: 800px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  padding: 1.5rem;
}

@mixin font-style(
  $size: 16px,
  $color: #000,
  $weight: normal,
  $line-height: normal,
  $m-b: 0,
  $p-l: 0,
  $align: start,
  $transition: 0s
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
  margin-bottom: $m-b;
  padding-left: $p-l;
  text-align: $align;
  transition: $transition;
}
