.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .modal-contents{
    width: 70vw;
    height: 70vh;
    background-color: antiquewhite;
    border-radius: 10px;
  }
}