@use "mixins" as *;
@include mobile;
@include tablet;

.fiexed-header {
  width: 100vw;
  height: 30vh;
  background-color: bisque;
}

.card-wrapper {
  @include flex($justify: center, $align: center);
  margin-top: 5rem;
  padding: 5rem;
  .card-container {
    @include flex($direction: column, $justify: center, $gap: 1rem);
    width: 60vw;
    height: 55vh;
    overflow-y: auto;
    padding: 3rem 0 0 2rem;
  }

  .card-contents {
    display: flex;
    gap: 20px;

    .small-image {
      width: 300px;
    }

    p {
      font-size: large;
      font-weight: 600;
    }
  }
}

// taglist

.tag-container {
  @include flex($justify: center, $align: center, $direction: column);

  width: 100%;
  height: 150px;
  background-color: rgb(125, 201, 255);

  ul {
    @include font-style($size: 1.25rem);
    list-style: none;

    li {
      display: inline-block;
      margin: 0.5rem;

      .city-name {
        cursor: pointer;
      }
    }
  }
}
