.user-menu {
    display: absolute;
    gap: 1rem;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;

    
  }

  input[type="file"] {
    display: block;
    margin: 10px 20%;
    text-align: center;
    font-size: 1rem;
    color: #023047;
  }